.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #343a40;
  height: 80px;
  color: #fff;
}

.footer-social-links > a > img {
  width: 100%;
  filter: invert(100%);
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  width: 150px;
}

@media (max-width: 700px) {
  .footer {
    font-size: 80%;
  }
  .footer-social-links > a > img {
    width: 70%;
  }
}
