.Landing {
  background-image: url(../../images/bg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 87.5vh;
}

.Landing-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 87.5vh;
}

.Heading > h1,
.Heading > p {
  color: #e0e0e0;
  padding-top: 5%;
  margin: 0;
}

.Main-text {
  font-size: 24px;
}

.Landing-buttons {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-around;
  margin: 50px auto;
  width: 10%;
}

.Landing-Login {
  background-color: #1e88e5;
  border-radius: 3px;
  padding: 10px 15px;
}
.Landing-Register {
  background-color: #4caf50;
  border-radius: 3px;
  padding: 10px 15px;
}
.Landing-Login:hover {
  background-color: #1976d2;
}
.Landing-Register:hover {
  background-color: #43a047;
}
