.program-noteditable {
  display: flex;
  flex-direction: row;
}

.program-values {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 9px;
    width: 225px;
  }
}
