.conditions {
  width: 100%;
}

.conditions-list {
  width: 50%;

  ul {
    display: flex;
    flex-direction: column;

    li {
      cursor: pointer;
      width: fit-content;
      padding: 0 10px;

      &:hover {
        box-shadow: 0 0 15px 5px #ccc;
      }
    }
  }
}

.conditions-output {
  width: 50%;
  padding: 10px;
  box-shadow: 0 0 15px 5px #ccc;
}
