@import "../../sass-variables.scss";

.constructor-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .form-group {
    width: 60%;
  }
}

.constructor {
  display: flex;
  flex-direction: column;
  width: 100%;

  .constructor-step {
    width: 100%;
  }
  h4 {
    padding-left: 15px;
    padding-top: 35px;
  }
}

.constructor-form-header {
  border-bottom: 1px solid #bdbdbd;
  font-size: 24px;
}

.constructor-conditions {
  display: flex;
  flex-direction: row;
}

.constructor-links {
  display: flex;
  flex-direction: column;
}
