@import "../../sass-variables.scss";

.table-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin: 0;
}

.motivation-item > a {
  color: #000;
}

.motivation-item > a:hover {
  text-decoration: none;
}

.scheme-list {
  display: flex;
  flex-direction: row;
  padding: 2px;
  background-color: #ddd;
  color: #000;
  list-style: none;
  margin: 0;
  width: 40%;
}

.motivation-schemes-list {
  li {
    a {
      color: $btn-primary-color;

      &:hover {
        color: $btn-primary-hover;
      }
    }
  }
}
