@import "./sass-variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.btn {
  border-radius: 3px;
  padding: 10px 15px;
  box-shadow: none;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

.red-notification {
  color: $red-color;
  font-size: 12px;
}

button,
.btn-default {
  background: none;
  border: 0;
  box-shadow: 0 0 10px 2px $btn-primary-color;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  color: $black-color;
}

button:hover,
.btn-default:hover {
  background-color: $btn-primary-color;
  color: $white-color;
}

.btn-default {
  border: 0;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.header1 {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid;
}

.App {
  .constructor-step {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
  }
}

.col-sm-6 {
  .form-control {
    width: 100%;
  }
}
