.Register,
.Register > h1 {
  color: #212121;
}

.Register {
  padding: 50px 0;
}

.Register > p {
  font-size: 24px;
}

.form-control {
  width: 30%;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-control > input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 18px;
  padding: 8px 10px;
  width: 100%;
}

.btn-register {
  background-color: #1e88e5;
  color: #fff;
}

.btn-register:hover {
  background-color: #1976d2;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.is-valid:focus {
  border-radius: 4px;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.is-invalid:focus {
  border-radius: 4px;
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  text-align: left;
}
