@import "../../../sass-variables.scss";

.conditions-tabs {
  margin-top: 30px;
  display: flex;

  span {
    cursor: pointer;
    display: flex;
    padding: 0 10px;
    font-size: 20px;
  }

  span:hover,
  span:active,
  span:target {
    border-bottom: 2px solid $btn-primary-color;
  }

  .active {
    border-bottom: 2px solid $btn-primary-color;
  }
}
