@import "../../../sass-variables.scss";

.target-section {
  width: 30%;

  .form {
    .form-radio {
      width: 200px;
      display: flex;
      flex-direction: row;
    }
  }
}

.target-block {
  display: flex;
  flex-direction: row;
  width: 200px;

  .target-labels {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .target-options {
    margin: 20px 0;

    select {
      width: fit-content;
    }

    .medicine-list {
      width: 500px;
    }
  }
}
